@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  position: relative;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
#container{
  width: 238px;
  //border-radius: 25px;
  padding: 0;
  background-color: rgba(00,00,00,0.1);
  margin: 0 auto;
}
#display{
  text-align: right;
  padding: 10px;
  width:217px;
  font-size: 45px;
  background-color:#4a3719;
  color: #ffffff;

}
button{
  font-size: 25px;
  width:60px;
  height:60px;
  background-color: #d9d9d9;
  color: #1e1e1e;
  margin:0 -2px;
  text-shadow: none;
  box-shadow: none;
  border: 1px #ffffff solid;
}
#naught {
  width:120px;
}
#divide{
  margin-left:118px
}
.operator, #equal {
  background-color: #bd7343;
  color: #ffffff;
}
