@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  position: relative;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
button{

  font-family: monospace;
  font-size: 25px;
  width:40px;
}
#0 button {

}

#container{
  width: 220px;
  border: 1px solid blue;
  padding: 0;
}

#display{
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
}
